#hero {
  background-image: url(../reference-screenshots/abstract.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

#hero .d-flex{
  height: 70vh;
}

